*{
    margin: 0px;
    padding: 0px;
}

#container{
    background-color: #FF0000;
    position: relative;
}

.box{

    /*margin-left: 5px;*/
    background-color: cyan;
    padding: 5px;
    float: left;
}

.box_img{
    padding: 5px;
    border: 4px solid #cccccc;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;

}

.box_img img{
    width: 150px;
    height: auto;
}
