*{
    margin: 0px;
    padding: 0px;
}


.top{
    background-color: beige;
    width: 100%;
    height: 50px;


}
.top_content{
    width: 75%;
    height: 100%;
    margin: 0px auto;
    background-color: blue;
}

.body{
    width: 75%;
    height: 1500px;
    background-color: aquamarine;
    margin: 20px auto;
}
.body_img{
    width: 100%;
    height: 400px;
    background-color: #FF00FF;
}

.body_content{
    width: 100%;
    height: 1090px;
    background-color: chocolate;
}

.body_no{
    width: 100%;
    height: 50px;
    background-color: #40b844;
}

.footing{
    width: 75%;
    height: 330px;
    background-color: #FF0000;
    margin: 0px auto;
}

.footing_content{
    width: 100%;
    height: 300px;
    background-color: gold;
}
.footing_navi{
    width: 100%;
    height: 30px;
    background-color: brown;
}