p{
    font-size: 40;
    font-family: fantasy;
}

a:link{
    color: #FF0000;
    text-decoration: none;
    background-color: antiquewhite;
}

a:visited{
    color: aqua;
}

a:hover{
    color: blue;
}