body{
    background-image: url("one.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 200px 200px;
    background-origin: content-box;

}

/*!*//background-color: aqua;*!*/
/*background-image: url("one.png");*/
/*background-repeat: no-repeat;//图片重不重复*/

/*!*background-position: center top;//center 默认是 center center*!*/
/*!*background-position: 500px 150px;*!*/

/*!*background-position: 20% -100%;//图片的位置*!*/